@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Recursive:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Recursive', sans-serif;
  background-color: #fb6b6b;
}

.question {
  width: 300px;
  height: 65px;
  margin: 25px auto;
  padding: 0 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
}

.question p {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.question ion-icon {
  font-size: 30px;
  color: #333333;
}
