@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Recursive:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Recursive', sans-serif;
  background-color: #fb6b6b;
}

.question p {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}
