footer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  min-height: 70px;
  height: auto;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer p {
  width: 250px;
  margin-top: 10px;
}

footer h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.answers-icons ion-icon {
  font-size: 25px;
  margin: 10px 0;
}

footer ion-icon[name='close-circle'] {
  color: #ff3030;
}

footer ion-icon[name='help-circle'] {
  color: #ff922e;
}

footer ion-icon[name='checkmark-circle'] {
  color: #2fbe34;
}
